/**********************************
			GENERAL
**********************************/

.container {
	display: grid;
}
/*** Header ***/
.topbar {
	margin: 20px;
	background-color: #00ff99;
}
.secondary-logo {
	padding-right: 15px;
}
/** Dropdown Menu Build **/

/* Hamburg bars */
.menu-icon {
	max-width: 25px;
}

/* Dropdown Button */
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Changing colors on dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
	display: block;
}

.main-header {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

/*** shop front ***/

.store-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap-columns: 10px;
	grid-gap-rows: 5px;
	margin: 2%;
	background-color: #d3d3d3;
}

.holder {
	background-color: white;
    margin: 5%;
	padding: 20px;
}

h2, p {
	text-align: center;
}

.center {
	display: block;
   	margin-left: auto;
    margin-right: auto;
   	width: 50%;
   	border-style: solid;
   	border-color: #d3d3d3;
}

/*button {
	float: right;
}*/

#price {
	position: relative;
	bottom: 5px;
	color: red;
}

/*** Footer ***/
footer {
	text-align: center;
	font-size: 16px;
	background-color: #d3d3d3;
	padding: 15px;
	margin-top: 30px;

}

/**********************************
			MEDIA QUERIES
**********************************/

/*** Desktop ***/
@media (min-width: 679px) {
	.store-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	footer {
		font-size: 18px;
	}
}



